---
import type { Locale } from "../i18n/utils";
import { services } from "../data/services";
import ServiceRow from "./ServiceRow.astro";

export interface Props {
  locale: Locale;
}
const { locale } = Astro.props;
---

<section class="border-t border-navy/10">
  {services.map((service, i) => <ServiceRow service={service} locale={locale} reversed={i % 2 === 1} />)}
</section>
