---
import "../styles/global.css";
import { Wrench } from "lucide-astro";
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Triton Marine</title>
  </head>
  <body class="p-8">
    <h1 class="text-4xl font-display text-navy">Triton Marine</h1>
    <Wrench class="w-6 h-6 text-teal mt-4" />
    <p class="text-teal mt-2">Icon test.</p>
  </body>
</html>
